<h1>User#sme_registration</h1>

<p>
  <%= @greeting %>, a new SME registered with the following details:
  <%= @sme.first_name %>
  <%= @sme.abn %>
  Please register it as inactive new biller in the Ops portal and inform <%= @bank.email %> that there is a pending application for them to review
</p>
