<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div id="background-form">
        <h1>Almost done!</h1>
        <p><%= @sme.bank.name %> will now process your request. You will receive your starter pack within <b><%= @sme.bank.days_to_confirm %> days</b>.</p>
        <p>Thank you</p>
        <p>The BPAY team</p>
      </div>
    </div>
  </div>
</div>
